<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>proy.controlador.validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>proy.controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>proy.controlador.Producto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/valid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/prod</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
